@import url("./header.style.css") all;
* {
  user-select: none;
}
:root {
  font-size: 16px;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
nav .nav-link:hover {
  background-color: #ccc;
  color: #000;
}
body {
  background-color: rgb(246, 246, 246);
}
section {
  min-height: calc(100vh - 230px);
}
input:focus,
button:focus {
  outline: 0;
}
.tab .tab-btn {
  border: none;
  border-bottom: 4px solid rgb(143, 143, 143);
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  font-family: mon4, Verdana;
  font-size: 14px;
  padding: 0 2rem;
  cursor: pointer;
  position: relative;
  outline: none;
}
.tab .tab-btn.active {
  border-bottom: 4px solid rgb(19, 46, 133);
  background-color: rgb(255, 255, 255);
}
.tab-btn {
  border: none;
  border-bottom: 4px solid rgb(19, 46, 133);
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  font-family: mon4, Verdana;
  font-size: 14px;
  padding: 0 2rem;
  cursor: pointer;
  position: relative;
  outline: none;
}

.content-list {
  display: none;
  animation: fadeEffect 1s;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.company-card {
  /* height: 220px; */
  background-color: #fff;
  transition: 0.3s;
  box-shadow: 0px 0px 5px -5px rgba(0, 0, 0, 0.7);
}
.company-card:hover {
  box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.7);
}
.company-image {
  height: 100%;
}
.company-image img {
  height: 220px;
  width: 75%;
  object-fit: contain;
}

.company-name {
  font-family: mon1, Verdana;
  font-size: 2rem;
  color: rgb(24, 24, 24);
}
.company-description {
  font-family: mon3, Verdana;
  font-size: 0.9rem;
  color: rgb(24, 24, 24);
}

.company-link {
  text-decoration: underline;
  font-size: 1.2rem;
}
.amount {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid #999;
  padding: 1rem 2rem;
  border-radius: 50%;
  font-size: 2rem;
}
.amount-name {
  font-size: 1.2rem;
}

.manage-meeting {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #93b938;
  width: 100%;
  height: 45px;
  color: #fff;
  transition: 0.3s;
}

.manage-meeting:hover {
  background-color: #fff;
  color: #93b938;
  border: 3px solid #93b938;
}

footer {
  min-width: 150px;
  padding: 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1b1b1b;
  margin-top: 5rem;
}

footer .copyright-text {
  color: #fff;
  font-size: 1rem;
  margin: 0;
}
footer img.logo {
  height: 90px;
}
