@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700");

a {
    text-decoration: none;
    color: #002A59;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

header {
    width: 100%;
    height: 650px;
}

.navigation {
    height: 104px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    color: #002A59;
}

.navigation .nav_bar .nav_bar_list .bar_item {
    margin-right: 30px;
}

.nav_bar_list .bar_item:last-child {
    margin-left: 30px;
}

.headerBg {
    height: calc(100% - 104px);
    position: relative;
    width: 100%;
}

.headerBg .blured {
    background-image: url("../img/headerBg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    filter: grayscale(0.35) brightness(0.45) contrast(1.05) blur(2px);
    z-index: 1;
}

.headerBg .desc {
    height: 100%;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.headerBg .desc h3 {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: bold;
    font-size: 46px;
    line-height: normal;
    color: #fff;
}

.headerBg .desc p {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: normal;
    color: #fff;
    margin-top: 35px;
}

.world {
    width: 100%;
    height: 650px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.world .world_Bg {
    background-image: url("../img/world.png");
    background-size: contain;
    object-fit: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.world .world_desc {
    position: relative;
    z-index: 2;
}

.world .world_desc h3 {
    color: #002A59;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: bold;
    font-size: 65px;
    line-height: normal;
    text-align: center;
}

.world .world_desc p {
    margin-top: 45px;
    color: #002A59;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: normal;
}

.goods {
    width: 100%;
    height: auto;
}
.goods a{
    color: #fff;
}

.goods .g_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap
}

.goods .g_row .g_item {
    width: 33%;
    height: 296px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;

}

.goods .g_row .gray {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    filter: grayscale(0.35) brightness(0.45) contrast(1.05);
}

.goods .g_row .g_item .g_desc {
    position: relative;
    z-index: 14;
    padding: 58px;
}

.goods .g_row .g_item .g_desc h4 {
    color: #fff;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: normal;
}

.goods .g_row .g_item .g_desc p {
    color: #fff;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: normal;
    margin-bottom: 0;
    margin-top: 20px;

}

.why_block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 150px;
}

.why_block h3 {
    width: 100%;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    line-height: normal;
    color: #002A59;
    margin-bottom: 80px;
}

.why {
    /* margin-right: 150px; */
    width: 555px;
}

.why_block .why p {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: normal;
    margin-bottom: 30px;
}

.why_block .why p .fas {
    padding-right: 30px;
    color: #034EA2;
}

.callback_block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 35px;
}

.callback_block h3 {
    text-align: center;
    width: 100%;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    line-height: normal;
    color: #002A59;
    margin-bottom: 80px;
}

.callback_block .callback_desc {
    width: 50%;
    padding: 0 100px 60px;
    height: auto;
}

.callback_send {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    padding: 0 100px 60px;
    height: auto;
}

.cb_in {
    display: inline-block;
    width: 100%;
    /* height: 20px; */
    margin-bottom: 15px;
    padding: 10px 0 10px 20px;
    border: 1px solid #b7b7b7;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    font: normal 16px/normal "Roboto Condensed";
    color: #000;
    text-overflow: clip;
    background: #E5E5E5;
    outline: none;
}

.sendBtn {
    box-shadow: 1px 1px 9px 0px rgba(170, 170, 170, 1);
    background-color: #F2C94C;
    border-radius: 42px;
    display: inline-block;
    cursor: pointer;
    color: #000;
    font-family: "Roboto Condensed";
    font-size: 15px;
    font-weight: normal;
    padding: 10px 30px;
}

.sendBtn:hover {
    background-color: #F2EB4C;
}

footer {
    background-color: #002A59;
    width: 100%;
    height: auto;
}

footer p {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: normal;
}

footer li {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: normal;
}

footer .f {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: auto;
    color: #fff;
    padding: 48px 20px 20px 20px;
}

.f_width {
    width: 30%;
    border-right: 1px solid #011731;
}


.f_desk {
    display: flex;
    flex-direction: column;
}

footer h3 {
    color: #F2C94C;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}

footer .f_desc h3 {
    font-size: 45px;
}

footer .f_info h3 {
    font-size: 36px
}

footer .f_contact h3 {
    font-size: 36px;
}

.f_info {
    display: flex;
    flex-direction: column;
}

.f_info .info_link {
    display: flex;
    flex-direction: column;
}

.f_info a {
    color: #fff;
    text-decoration: none;
}

.f_contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-right: none;
}

footer ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}

footer ul li {
    margin: 5px 0 10px 0;
}

.f_contact address ul li .fas {
    margin-right: 10px;
    color: #F2C94C;
    font-size: 24px;
}

.burger {
    display: none;
}

.cross {
    display: none;
}

.hidden {
    visibility: hidden;
}

.myvisible {
    visibility: visible;
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .goods .g_row .g_item {
        width: 49%;
        height: auto;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .goods .g_row .g_item {
        width: 49%;
        height: auto;
    }

    .callback_block .callback_desc {
        padding-left: 0;
        padding-right: 0;
    }

    .callback_block .callback_send {
        padding-left: 10px;
        padding-right: 10px;
    }

    footer .f {
        flex-direction: column;
    }

    footer .f .f_width {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 100px;
        border-right: none;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .nav_bar {
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: fixed;
        z-index: 15;
        top: 0;
        right: -500px;
        background-color: #002A59;
        height: 100%;
        width: 25%;
        padding: 20px;
    }

    .nav_bar_list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .nav_bar_list .bar_item {
        color: #fff;
        font-size: 20px;
        margin-bottom: 25px;
        border-bottom: 1px solid rgba(125, 118, 230, 0.5)
    }

    .nav_bar_list .bar_item a {
        color: #fff;
    }

    .goods .g_row {
        flex-direction: column;
    }

    .goods .g_row .g_item {
        width: 80%;
        height: auto;
    }

    .callback_block {
        flex-direction: column;
    }

    .callback_block .callback_desc {
        width: 100%;
        padding-left: 79px;
        padding-right: 79px;
    }

    .callback_block .callback_send {
        width: 100%;
        padding-left: 79px;
        padding-right: 79px;
    }

    footer .f {
        flex-direction: column;
    }

    footer .f .f_width {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 100px;
        border-right: 0;
    }

    .burger {
        display: block;
        background: none;
        position: fixed;
        top: 0;
        right: 0;
        line-height: 45px;
        padding: 5px 15px 0px 15px;
        color: #999;
        border: 0;
        font-size: 1.4em;
        font-weight: bold;
        cursor: pointer;
        outline: none;
        z-index: 10000000000000;
    }

    .cross {
        display: none;
        background: none;
        position: fixed;
        top: 0;
        right: 0;
        padding: 7px 15px 0px 15px;
        color: #999;
        border: 0;
        font-size: 3em;
        line-height: 65px;
        font-weight: bold;
        cursor: pointer;
        outline: none;
        z-index: 10000000000000;
    }
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;

    }

    .content .c_right {
        width: 100%;
        height: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .content .c_right .r_desc h3 {
        color: #002A59;
        margin-top: 25px;
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: normal;
    }

    .content .c_right .r_desc p {
        margin-top: 25px;
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: normal;
    }

    .content .c_left {
        width: 100%;
        height: 50vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .content .c_left img {
        width: auto;
        height: 100%;
        display: none;
    }

}

@media (min-width: 320px) and (max-width: 480px) {
    .nav_bar {
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: absolute;
        z-index: 15;
        top: 0;
        right: -500px;
        background-color: #002A59;
        height: 100%;
        width: 100%;
        padding: 20px;
    }

    .nav_bar_list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav_bar_list .bar_item {
        color: #fff;
        font-size: 20px;
        margin-bottom: 25px;
        border-bottom: 1px solid rgba(125, 118, 230, 0.5)
    }

    .nav_bar_list .bar_item a {
        color: #fff;
    }

    .headerBg .desc h3 {
        font-size: 35px;
    }

    .headerBg .desc p {
        font-size: 20px;
    }

    .goods .g_row {
        flex-direction: column;
    }

    .goods .g_row .g_item {
        width: 100%;
        height: auto;
    }

    .callback_block {
        flex-direction: column;
    }

    .callback_block .callback_desc {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .callback_block .callback_send {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    footer .f {
        flex-direction: column;
    }

    footer .f .f_width {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 25px;
        border-right: none;
    }

    .burger {
        display: block;
        background: none;
        position: absolute;
        top: 0;
        right: 0;
        line-height: 45px;
        padding: 5px 15px 0px 15px;
        color: #999;
        border: 0;
        font-size: 1.4em;
        font-weight: bold;
        cursor: pointer;
        outline: none;
        z-index: 10000000000000;
    }

    .cross {
        display: none;
        background: none;
        position: absolute;
        top: 0;
        right: 0;
        padding: 7px 15px 0px 15px;
        color: #999;
        border: 0;
        font-size: 3em;
        line-height: 65px;
        font-weight: bold;
        cursor: pointer;
        outline: none;
        z-index: 10000000000000;
    }
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;

    }

    .content .c_right {
        width: 100%;
        height: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .content .c_right .r_desc h3 {
        color: #002A59;
        margin-top: 25px;
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: normal;
    }

    .content .c_right .r_desc p {
        margin-top: 25px;
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: normal;
    }

    .content .c_left {
        width: 100%;
        height: 50vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .content .c_left img {
        width: auto;
        height: 100%;
        display: none;
    }
}





.content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 605px;

}

.content .c_right {
    width: 50%;
    height: 100%;
    padding-left: 126px;
    padding-right: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content .c_right .r_desc h3 {
    color: #002A59;
    margin-top: 25px;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: normal;
}

.content .c_right .r_desc p {
    margin-top: 25px;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: normal;
}

.content .c_left {
    width: 50%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content .c_left img {
    width: auto;
    height: 100%;
}



