body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
width: 100%;
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
}
@media (min-width: 576px) {
.container {
max-width: 540px;
}
}
@media (min-width: 768px) {
.container {
max-width: 720px;
}
}
@media (min-width: 992px) {
.container {
max-width: 960px;
}
}
@media (min-width: 1200px) {
.container {
max-width: 1140px;
}
}
.wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.Button-group{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
button {
  background: rgba(255, 255, 255, 0);
  border-bottom: 1px solid;
  color: #fff;
  line-height: 1.4;
  padding: .25em;
  text-decoration: none;
    outline: none;
  
}
button:hover {
  background: rgba(255, 255, 255, 1);
  color: #E1332D;
}


.btn {
  color: #fff;
  cursor: pointer;
  /* display: block; */
  font-size:16px;
  font-weight: 400;
  line-height: 45px;
  /* margin: 0 0 2em; */
  max-width: 160px; 
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%; 
}

.btn-3 {
  background: #e3403a;
  border: 1px solid #da251f;
  box-shadow: 0px 2px 0 #d6251f, 2px 4px 6px #e02a24;
  font-weight: 900;
  letter-spacing: 1px;
  transition: all 150ms linear;
}
.btn-3:hover {
  background: #e02c26;
  border: 1px solid rgba(0, 0, 0, .05);
  box-shadow: 1px 1px 2px rgba(255, 255, 255, .2);
  color: #ec817d;
  text-decoration: none;
  text-shadow: -1px -1px 0 #c2211c;
  transition: all 250ms linear;
}
.loading_block{
  width: 600px;
  font-size: 77px;
  text-align: center;
  box-shadow: inset 11px 14px 33px -16px rgba(0,0,0,0.75);
}
.weather_block{
  width: 600px;
  text-align: center;
  box-shadow: 10px 10px 33px -16px rgba(0,0,0,0.75);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
