/*
.clickme{
    color: #009688;
     border: 1px solid #009688;
     font-size: 17px;
     padding: 7px 12px;
     font-weight: normal;
     margin: 6px 0;
     margin-right: 12px;
     display: inline-block;
     text-decoration: none;
     font-family: 'Open Sans', sans-serif;
     min-width: 120px;
}
.clickme:hover{
    background-color: #f8f9fa ease-in-out;
}
*/

.clickme{
    color: #fff;
    background-color: transparent;
    border-color: #fffbfb !important;
    outline:none;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 24px;
    padding: 18px 24px;
    transition: 0.2s background-color;
}

.scroldown{
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: aliceblue;
}

.scroldown:hover{
    color: aliceblue;
}

.headbg{
    width: 100%;
    height: 100vh;
}

body{
    background-color: #f1f1f1;
}
header{
    width: 100%;
    height: 100vh;
    background: #4b6cb7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.col{
    border: 1px solid black;
}
.carousel img{
    margin-top: 79px;
    width: 100%;
    height: 80vh;
}

.navbar{
    padding-bottom: 20px;
    padding-top: 20px;
}

.nav-item {
    margin-left: 0;
    margin-right: 45px;
}

.slide {
    
}
.news{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.news::nth-child(3){
    margin-right: 0;
}

.news p ,h4{
    margin-top: 10px;
}
.news img{
    width: 100%;
    height: 45%;
}

.nnews{
    padding-top: 110px ;
    font-size: 40px;
}
footer{
    color: #fff;
    background: #4b6cb7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
footer a{
    text-decoration: none;
}