/* @font-face {
    font-family: "SF Pro";
    src: url("./assets/fonts/SFProDisplay-Light.ttf") format("truetype"),
    url("./assets/fonts/SFProDisplay-Regular.ttf") format("ttf"),
    url("./assets/fonts/SFProDisplay-RegularItalic.ttf") format("ttf");
    } */

@font-face {
  font-family: "SF Pro Light";
  src: url("../assets/fonts/SFProDisplay-Light.ttf");

}
@font-face {
  font-family: "SF Pro Regular";
  src: url("../assets/fonts/SFProDisplay-Regular.ttf");

}
@font-face {
  font-family: "SF Pro Regular Italic";
  src: url("../assets/fonts/SFProDisplay-RegularItalic.ttf");

}

@font-face {
  font-family: "UI Pro Light";
  src: url("../assets/fonts/sf-display-light.otf");

}
@font-face {
  font-family: "UI Pro Thin";
  src: url("../assets/fonts/sf-display-thin.otf");

}
@font-face {
  font-family: "UI Pro Ultralight";
  src: url("../assets/fonts/sf-display-ultralight.otf");

}
