.burger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  position: relative;
  z-index: 100;
  width: 30px;
  height: 2px;

  transition: 0.2s all ease-out;
  border-radius: 60px;
  background-color: #fff;
  /* background-color: rgb(82, 207, 44); */
}

.burger::after,
.burger::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  transition: 0.5s all;
}
.burger::before {
  top: -9px;
}
.burger::after {
  bottom: -9px;
}

.burger.active_burger {
  background-color: transparent;
  transition: 0.5s all;
}

.burger.active_burger::after,
.burger.active_burger::before {
  /* width: 90%;
    height: 2px; */
  top: 0;
  bottom: 0;
}
.burger.active_burger::after {
  transform: rotate(-45deg);
}
.burger.active_burger::before {
  transform: rotate(45deg);
}

.menu-wrapper {
  background-color: #000;
  position: fixed;
  top: 0;
  left: -100%;
  bottom: 0;
  right: 0;

  background-image: url("../assets/img/Logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 120px;
  display: flex;
  transition: 0.5s all ease-in-out;
}
.menu-wrapper.avtive_mobile_nav{
    left: 0;
}
.menu-left-side {
  width: 80%;
}
.menu-right-side {
  width: 20%;
}
.menu-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  height: 80px;
}

.logo-block {
  display: flex;
  padding-left: 50px;

  align-items: center;
}

.company-name {
  text-transform: uppercase;
  color: #fff;
  font-size: 24px;
  margin: 0;
  font-weight: 900;
}
.company-name .green {
  color: #35a103;
}
.menu-phone {
  color: #fff;
  margin: 0;
  font-size: 20px;
  font-weight: 100;
  margin: 0 30px;
  font-family: "UI Pro Ultralight", sans-serif;
}
.p-100 {
  padding-left: 100px;
  margin: auto 0;
}

.menu-list {
  margin: 25px 0;
  list-style: none;
}

.menu-item {
  color: #fff;
  text-align: left;
  font-size: 32px;
  font-weight: 100;
  margin: 25px 0;
  
}

.menu-item .menu-link{
    font-family: "UI Pro Ultralight", sans-serif;
}

.menu-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  height: 80px;
  width: 80%;
  position: absolute;
  bottom: 0;
  
}

.social {
  height: 100%;
  display: flex;
  list-style: none;
  color: #fff;
}
.social-item {
  font-size: 32px;
  margin: 0 15px;
}

.right-button.top {
  background-color: #35a103;
}
.right-button.bottom {
  background-color: #fff;
}
.right-button {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  text-align: center;
}
.right-button i {
  font-size: 100px;
}

.right-button.top {
    color: #fff;
  }
  .right-button.bottom {
    color: #35a103;
  }